body{
    padding: 0;
    margin: 0;
}
.container{
    display: grid;
    grid-template-columns: 0.8fr 3.3fr;
    grid-template-rows: 25% 75%;
    height: 100vh;
}

.sidebar{
    background:linear-gradient(rgb(161, 60, 225),rgb(190, 106, 226),rgb(180, 28, 210),rgb(45, 12, 58));
    grid-column:1/2;
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
    gap:5px ;
}

.sidebar>*{
    display: flex;
    fill: aliceblue;
    color: aliceblue;
}

.sidebar>div>svg{
    width: 5vw;
    height: 5vh;
    fill: aliceblue;
}

.sidebar>div>span{
    align-self: center;
    color: aliceblue;
}

.header{
    background-color: rgb(182, 117, 223);
    display: grid;
    grid-template-columns:5fr 1fr ;
    grid-template-rows: 1fr 2fr;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 30px;
    align-items: center;
}

.header>div>div>svg{
    height: 5vh;
    width: 5vw;
}
.search{
    display:flex;
}

input[type="search"]{
    width: 80%;
    height: 5vh;
    border-radius: 20px;
}

.hi-there{
    display: flex;
    align-items: center;
}
.header>.hi-there>svg{
    width: 10vw;
    height: 10vh;
}

.icons,.buttons{
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.buttons>button{
    border-color: aliceblue;
    border-radius: 20px;
    background-color: #852ca8;
    color: rgb(255, 255, 255);
    width: 5vw;
    min-width:fit-content;
    height: 30px;
}

.main-area{
    background-color:#d796f1;
    display: flex;
    padding-left:100px;
    padding-right: 30px;
    
}

.main-area>.projects{
   width: 70%;
   
}

.main-area .projects .projects{
   display: grid;
   grid-template-columns: repeat(auto-fit,minmax(45%,45%));
   grid-template-rows: repeat(auto-fit,minmax(30%,1fr));
   /* background-color: aliceblue; */
   gap: 4%;
   height: 85%;
   min-width: 100%;
  
}

.main-area .projects .projects>div{
    /* background-color: aqua; */
    border: 3px solid #000000;
    background-color:rgba(203, 68, 203, 0.538) ;
    box-shadow:inset 5px 0px #b2399a,inset 10px 0px #d75bc6,9px 5px #852ca8;
    padding-left: 30px;
    position: relative;
  
    
}

.priject-icons>*{
    width: 3vw;
    height: 3vh;
}

.priject-icons{
    position: absolute;
    bottom: 0;
    right: 0;
}

h4,h5,p{
    margin: 0%;
}
h3{
    margin-bottom: 0;
}
.announcement-trending{
    width: 30%;
    height: 100%;
}
.announcements,.trending{
    background-color: azure;
    padding: 20px;
    border-radius: 9px;
    box-shadow: 5px 5px 5px purple;
}

.announcements{
    height: 50%;
}